/**
 * Custom CSS for web site
 *
 * @file:       /css/custom.css
 * @project:    IJDB2016
 * @author:     Adrian Gould <Adrian.Gould@smtafe.wa.edu.au>
 * @date:       19/05/2016
 * @version:    1.0 Initial Version
 * @copyright:  Copyright 2015 TAFE OpenSource,
 *              Released under the Creative Commons Share Alike license
 *
 * History:
 *
 * v 1.0    19/05/2016
 *          Initial version
 */
body {
    min-height: 1000px;
    padding-top: 70px;
}

@media (max-width: 25em) {
    @-ms-viewport {
        width: 320px;
    }
}

.bg-inverse {
    background-color: #ddd;
    color: #ccc;
}

.siteHeader {

}

.siteFooter {
    min-height: 100px;
    border-top: 1px solid #ddd;
    padding-top: 2em;
    margin-top: 2em;
}

/*** MUST ADD THE XS/SM/MD VARIANTS FOR THE bigNum CLASS ***/
.bigNum {
    font-size: 500%;
    font-weight: bold;
    margin:auto;
}
